// Colors

$off-black: #292929;
// $off-black: #262A33;
$theme-color: #36BC99;
// $off-white: #afd7b2;
$gray: #454545;
$light-gray: #515151;
$off-white: rgb(213, 233, 230);
$soft-dark: #3b3b3b;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;